.contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9ff;
}

.contact-section {
  display: flex;
  flex: 0 0 75%;
  gap: 2rem;
  margin-top: 4rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  flex: 1;
}

.address-details {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.address-details span {
  font-size: 20px;
  /* font-weight: 500; */
  color: #c6b069;
  padding-left: 5px;
  /* margin-right: 30px; */
}

.address h5 {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
}

.address p {
  margin-bottom: 1rem;
  font-size: 14px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  flex: 1;
  height: 100%;
}

.contact-form input {
  border-radius: 0;
  font-size: 12px;
  padding: 15px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  width: 100%;
}

.textarea {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.textarea textarea {
  padding: 15px 15px;
  /* height: 100%; */
  width: 100%;
}

.textarea-button {
  color: #fff;
  background: #c6b069;
  border: 1px solid transparent;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 20px;
  margin: 15px 0px 20px 0px;
}

@media (max-width: 1024px) {
  .contact-section {
    flex: 0 0 90%;
    gap: 1rem;
  }
}


@media (max-width: 920px) {

  .contact-page {
    flex-wrap: wrap;
    height: auto;
  }

  .contact-section {
    flex-direction: column;
  }

  .textarea {
    padding: 0px 15px;
  }
}