.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  max-width: 75%;
}

.sec-1, .sec-2, .sec-3 {
  max-width: 40%;
}

.sec-1 h6,
.sec-2 h6,
.sec-3 h6 {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.sec-1 p,
.sec-2 p,
.sec-3 p {
  margin-bottom: 1rem;
  font-size: 15px;
}

.input {
  font-weight: 300;
  background: #f9f9ff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 10px 18px;
  border: 1px solid #f9f9ff;
  outline: none;
}

.input-btn {
  background-color: #c6b069;
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 10px 18px;
  border: 0;
}

.icons{
  display: flex;
  gap: 0.5rem;
}

.icons a{
  text-decoration: none;
  color: #777;
}

@media (max-width: 1024px){
  .footer-container{
    max-width: 90%;
  }

  .sec-1, .sec-2, .sec-3 {
    max-width: 33%;
  }
  
}


@media (max-width: 880px){
  .footer-container{
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }

  .sec-1, .sec-2, .sec-3 {
    max-width: 100%;
  }
  
}

@media (max-width: 682px){

  .footer-section{
    min-height: 80vh;
  }

  .sec-1, .sec-2, .sec-3 {
    max-width: 100%;
  }
  
}

@media (max-width: 440px){

  .footer-section{
    min-height: 100vh;
  }
  
}